#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#egitim .items {
    flex-direction: column;

}
#egitim .items .item{
    width: 100%;
}
.yazilimdilleri .yazilim{
    flex-direction: column;
}